@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="py-2">Movies</h2>

<p>
  @Html.ActionLink("New Movie", "New", new {}, new {@class="btn btn-primary"})
</p>
<table class="table table-bordered">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Genre)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.DateRelease)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Stock)
    </th>
    <th></th>
  </tr>

@foreach (var movie in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => movie.Name)
        </td>
      <td>
        @Html.DisplayFor(modelItem => movie.Genre)
      </td>
      <td>
        @Html.DisplayFor(modelItem => movie.DateRelease, "{0:yyyy-MM-dd}")
      </td>
      <td>
        @Html.DisplayFor(modelItem => movie.Stock)
      </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=movie.Id }, new { @class= "btn btn-info btn-sm px-3" }) |
            @Html.ActionLink("Details", "Details", new { id=movie.Id }, new { @class = "btn btn-success btn-sm px-3" }) |
            @Html.ActionLink("Delete", "Delete", new { id=movie.Id }, new { @class = "btn btn-danger btn-sm px-3" })
        </td>
    </tr>
}

</table>
